<h1>目標一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>説明</th>
      <th>期限</th>
    </tr>
  </thead>
  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.title %></td>
        <td><%= goal.description %></td>
        <td><%= goal.deadline %></td>
      </tr>
    <% end %>
  </tbody>
</table>